.watch-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 169px;

    border-radius: 10px;
    margin-right: 28px;
    margin-bottom: 10px;
    text-align: center;
    background-color: azure;
    box-shadow: 2px 2px 2px 1px rgba(180, 180, 180, 0.2);
}

.watch-container:nth-child(3n) {
    margin-right: 0;
}

.watch-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description {
    width: 140px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: aliceblue;
    background-color: cadetblue;
}

.time {
    font-size: 24pt;
    font-weight: 700;
    align-self: flex-end;
}

.delete-btn {
    width: 27px;
    height: 24px;
    align-self: flex-start;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-weight: 700;
    color: aliceblue;
    background-color: brown;
}